:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--color-shadow); }

.header {
  height: 7rem;
  color: 1.4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--color-grey-light-2); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%; }

.hotel-view {
  background-color: #fff;
  flex-direction: column;
  height: 80rem;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  justify-content: center;
  flex: 0 0 50%; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    color: inherit;
    padding: 1.2rem 2rem;
    border-radius: 10rem;
    border: none;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      font-weight: 100;
      font-size: 1.4rem;
      color: var(--color-grey-dark-2); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: flex-end; }
  .user-nav > * {
    cursor: pointer;
    padding: 0 1rem;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2);
    height: 100%;
    width: 100%; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    margin: 0 2rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    top: 1.3rem;
    right: 2.3rem;
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    color: #fff;
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 50%; }
  .user-nav__user-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #ccc; }
  .user-nav__user-username {
    margin-left: 0.8rem; }

.side-nav {
  margin-top: 3.5rem;
  list-style: none;
  color: #fff; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item--active {
      background-color: var(--color-primary); }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    transform: scale(0); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scale(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
  .side-nav__link, .side-nav__link:link, .side-nav__link:visited {
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all 0.2s;
    z-index: 1000;
    position: relative; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%; }

.overview {
  display: flex;
  align-items: center; }
  .overview__heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
    font-weight: 300; }
  .overview__icon {
    flex: 0 0 50%; }
    .overview__icon-star {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary); }
