.container {
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--color-shadow);

  @include responsive(mobile-portrait, mobile-landscape, tablet-portrait, tablet-landscape) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--line);

  @include responsive(mobile-portrait) {
    margin-bottom: 2rem;
  }
}

.content {
  display: flex;

  @include responsive(mobile-portrait,mobile-landscape) {
    margin-top: 5rem;
    flex-direction: column;
  }

  @include responsive(mobile-landscape,tablet-portrait ) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex-direction: column;
  flex: 1;
}

.detail {
  padding: 4.5rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @include responsive(mobile-portrait, mobile-landscape) {
    flex-direction: column;
  }
}
