.container {
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--color-shadow);

  @include tablet-landscape {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  color: 1.4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex-direction: column;
  flex: 1;
}

.detail {
  padding: 4.5rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

